
backendMascoticasFelices/src/datasources/mongodb.datasource.ts
environment.py
frontendreact/formulario-main/index.html
frontendreact/formulario-main/package-lock.json
frontendreact/formulario-main/package.json
frontendreact/formulario-main/public/vite.svg
frontendreact/formulario-main/src/App.css
frontendreact/formulario-main/src/App.jsx
frontendreact/formulario-main/src/assets/react.svg
frontendreact/formulario-main/src/components/Footer.jsx
frontendreact/formulario-main/src/components/RegisterForm.jsx
frontendreact/formulario-main/src/index.css
frontendreact/formulario-main/src/main.jsx
frontendreact/formulario-main/vite.config.js
