    <div class="container d-flex justify-content-center align-items-center">
        <form class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="cedula" class="form-label">Cedula</label>
                <input type="number" class="form-control" id="cedula" required>
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="nombres" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombres" required>
                    <div class="invalid-feedback">
                        Este campo es requerido
                    </div>
                </div>
                <div class="col">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" required>
                    <div class="invalid-feedback">
                        Este campo es requerido
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="number" class="form-control" id="telefono" required>
                    <div class="invalid-feedback">
                        Este campo es requerido
                    </div>
                </div>
                <div class="col">
                    <label for="correo" class="form-label">Correo</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="correo" class="form-control" id="correo"
                            aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Ingrese un correo electronico
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="rol" class="form-label">Rol</label>
                        <input type="text" class="form-control" id="rol" required>
                        <div class="invalid-feedback">
                            Este campo es requerido
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        
    </div>
    

<script src="./assets/funciones.js" type="text/javascript"></script>

    <script src="./assets/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>
